.container {
  margin: 80px auto;
}

.header {
  margin: 0 auto;
}

.header .btn {
  width: 25%;
  padding: .75rem 0;
  margin: 0;
  background-color: transparent;
}

.weather-container {
  height: 350px;
}

hr.active1 {
  margin-left: 0;
}

hr.active2 {
  margin-left: 25%;
}

hr.active3 {
  margin-left: 50%;
}

hr.active4 {
  margin-left: 75%;
}

.weather-container {
  height: 350px;
}

hr {
  height: .25rem;
  width: 25%;
  margin: 0;
  background: tomato;
  border: none;
  transition: .3s ease-in-out;
}